:root {
    --blue: rgb(82, 157, 255);
}

html {
    min-height: 50%;
}

body {
    margin: 10%;
    padding: 0;
    background-color: var(--blue);
    min-height: 50%;
    padding-bottom: 5rem;
    font-size: 1.5rem;
} 

h1 {
    cursor: pointer;
}

#sura {
    color: white;
}

.label {
    color: white;
}

#btnBuscar {
    border-radius: 1rem;
    border: none;
    background-color: rgb(151, 181, 226);
    padding: 0.5rem;
}

#inputBuscador {
    border-radius: 0.3rem;
}

#link:focus-visible {
    outline: -webkit-focus-ring-color 0px;
}

i {
    cursor: pointer;
    padding-left: 3vh;
}

i:hover {
    color: red;
}

/* RESPONSIVE DESIGN  */
@media screen and (max-width: 800px) {
    body {
        color: whitesmoke;
        margin: 0;
        margin-top: 6vh;
        z-index: -1;
    }

    /* [SECCION BUSCAR POR NOMBRE] */
    .buscar { 
        display: flex;
        flex-flow: column wrap;
        padding: 3vh;
        padding-bottom: 0;
        gap: 1vh;
    }
    .label {
        display: flex;
        justify-content: center;
        font-weight: bold;
    }
    #btnBuscar {
        margin: 0;
        margin-top: 2vh;
    }
    .card {
        background-color: var(--blue);
    }

    /* [SECCION AGENDAR CITA] */
    .card-body {
        padding: 0;
        margin: 0;
    }
    .card-body h1 {
        padding: 1.25rem;
        background-color: rgb(7, 95, 155);
    }
    #agregarCitas {
        background-color: var(--blue);
        position: sticky;
        z-index: 1;
        top: 0;
    }
    form {
        padding: 0 1.5rem 0.5rem 1.5rem;
        display: flex;
        flex-flow: column wrap;
    }
    form .mb-4 {
        width: 100%;
        padding: 0 1vh;
    }
    form .mt-3 {
        display: flex;
        flex-flow: row;
        align-items: flex-start;
        width: 50%;
    }

    /* [SECCION AGENDA] */
    #listar h1 {
        background-color: rgb(7, 95, 155);
        position: sticky;
        z-index: 0;
        top: 10vh;
        padding: 1.25rem;
    }
}

@media screen and (min-width: 1200px) {

}